{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Social Network{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'network/css/all.min.css'%}">
    <link href="{% static 'network/css/styles.css' %}" rel="stylesheet">
</head>

<body>
    
    <div class="container ">

        <div class="row p-2">

            <div class="  col-3   position-fixed " id="sticky-sidebar">


                <nav class="nav flex-column ml-2 ">



                    <ul class="navbar-nav  ">
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link btn btn-outline-secondary btn-lg btn-block mb-3"
                                href="{% url 'profile' user.username %}"><strong>{{ user.username }}</strong></a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link btn btn-outline-secondary btn-lg btn-block mb-3" href="{% url 'index' %}">All Posts</a>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link btn btn-outline-secondary btn-lg btn-block mb-3" href="{% url 'following' %}">Following</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-outline-secondary btn-lg btn-block mb-3" href="{% url 'logout' %}">Log Out</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link btn btn-outline-secondary btn-lg btn-block mb-3" href="{% url 'login' %}">Log In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-outline-secondary btn-lg btn-block mb-3" href="{% url 'register' %}">Register</a>
                        </li>
                        {% endif %}
                    </ul>

                </nav>

            </div>

            <div class="col offset-4 body" id="main">


                {% block body %}
                {% endblock %}
            </div>

            {% block script %}
            {% endblock %}
        </div>
    </div>
</body>

</html>